*{
    padding: 0;
    margin: 0;       
}

header{
    background-image: url("../img/landscape.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.gallery{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
}
figure{
    width: 50vh;
    text-align: center;
}
figure > img{
    height: 30vh;
    width: 50vh;
}
figcaption{
    text-align: center;
}
.register{
    padding: 5%;
}