*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
}
header{

    display: flex;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.5%;
    background-color: white;
    border-bottom: 1px solid gray;
}
.header-sec{
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    column-gap: 45px;
}
header img{
    width: 200px;
    height: 55px;
}
header input{
    width: 70px;
    height: 20px;
}
header form{
    display: flex;
    column-gap: 10px;
}
.header-sec form li{
    display: flex;
    flex-direction: column;
    column-gap: 15px;
    list-style-type: none;
}
.header-sec form a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
header form a:hover{
    color: lightblue;
    text-decoration: underline;
}
nav > ul{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    padding-left: 10%;
    list-style-type: none;
}
nav a{
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
nav a:hover{
    color: lightblue;
    text-decoration: underline;
}
main{
    width: 100%;    
}
main h1{
    font-size: 40px;
}
footer{
    display: flex;
    flex-direction: column;
}
footer section{
    display: flex;
    justify-content: center;
}
.top-side{
    background-image: url("/Assignment/Assignment-1-Luke/img/travel.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    padding-top: 30vh;
    padding-bottom: 2%;
    padding-left: 2%;
    color: white;
    row-gap: 10px;
}

.top-side li{
    display: flex;
    list-style-type: none;
    background-color: #2950B8;
    border-radius: 7px;
    width: 20vh;
    text-align: center;
}
.top-side a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    width: 100%;
    padding: 3%;
    /* border: 1px solid red; */
}
.top-side a:hover{
    color: #2950B8;
    background-color: white;
    border-radius:6px;
}
.bottom-side{
    display: flex;
    justify-content: space-evenly;
    height: 45vh;
    border-bottom: 3px solid #f8f5f4;
    border-right: 3px solid #f8f5f4;
    /* border: 1px solid red; */
}
.bottom-side img{
    width: 200px;
    height: 130px;
    border-radius: 15px;
    box-shadow: 4px 3px 3px gray;
}
.bottom-side h2{
    padding-top: 2%;
    padding-bottom: 3%;
    color: #2950B8;
    text-shadow: 1px 1px 2px #2950B8;
}
.left-side, .right-side{
    width: 50%;
    padding-left: 1%;
    padding-right: 1%;
}
.left-side{
    background-color: #f8f5f4;
}
.left-side section{
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid green; */
}
.left-side ul{
    display: flex;
    flex-direction: column;
    row-gap: 15px;    
}
.left-side li{
    display: flex;
    justify-content: space-evenly;
    background-color: #2950B8;
    border: 0px solid #2950B8;
    border-radius: 5px;
    list-style-type: none;
    text-align: center;   
}
.left-side a{
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 4%;
    /* border: 1px solid red; */
}
.left-side a:hover{    
    color: #2950B8;
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
}
.right-side{
    display: flex;
    flex-direction: column;
}
.right-side section{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.right-side div{
    display: flex;
    padding-left: 3%;
    padding-right: 1%;
}
.right-side p{
    padding-left: 3%;
    text-align: justify;
}
.right-side a{
    text-decoration: none;
    color: #2950B8;
    font-size: 18px;
    font-weight: 600;
}
.right-side a:hover{
    color: skyblue;
    text-decoration: underline;
}
.foot-bottom{
    padding: 2%;
    background-color: #f8f5f4;
    column-gap: 10px;
}
.foot-top{
    column-gap: 10%;
    padding: 5%;
}
.foot-top h2{
    /* border: 1px solid red; */
    text-align: center;
    padding-top: 2%;
    padding-bottom: 5%;
    color: #2950B8;
    text-shadow: 1px 1px 2px #2950B8;
}
.foot-top li{
    list-style-type: none;
    text-align: center;
}
.foot-top a{
    color: black;
    text-decoration: none;
}
.foot-top a:hover{
    color: #2950B8;
    text-decoration: underline;
}
.foot-bottom a{
    color: black;
    text-decoration: none;
}
.foot-bottom a:hover{
    color: #2950B8;
    text-decoration: underline;
}
/* ############ Sign up page ################ */
.header-sign{
    border-bottom: none;
    padding: 4%;
    display: flex;
    justify-content: center;
}
.header-sign img{
    width: 45vh;
    height: 12vh;
}
.main-sign form{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}
.main-sign div{
    display: flex;
    flex-direction: column;
}
.main-sign input{
    border: 2px solid #2950B8;
    height: 3vh;
    width: 500px;
}
.main-sign select{
    border: 2px solid #2950B8;
    height: 3vh;
    width: 500px;
    font-size: 20px;
}
.main-sign label{
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 20px;
}
.main-sign button{
    background-color: #2950B8;
    color: white;
    height: 40px;
    width: 500px;
    border: none;
    font-size: 20px;
    letter-spacing: 3px;
}
.main-sign button:hover{
    background-color: white;
    color: #2950B8;
    border: 2px solid #2950B8;
}
/* ############ Contact page ################ */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    background-color: #f8f5f4;
    row-gap: 30px;
    padding-bottom: 5%;
}
.contact h1{
    padding-top: 5%;
    padding-bottom: 2%;
    color: #2950B8;
    text-shadow: 1px 1px 2px #2950B8;
}
.cont-addr{
    display: flex;
    flex-direction: column;
    row-gap: 15px;    
}
.cont-addr p{
    font-size: 20px;
}
.cont-addr a{
    text-decoration: none;
    color: black;
}
.cont-addr a:hover{
    color: skyblue;
    text-decoration: underline;
}
.cont-question{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.cont-question h2{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 5%;
    color: #2950B8;
    text-shadow: 1px 1px 2px #2950B8;
}
.cont-question p{
    font-size: 20px;
}
.cont-question a{
    text-decoration: none;
    color: black;
}
.cont-question a:hover{
    color: skyblue;
    text-decoration: underline;
}
.cont-info{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 20px;
    color: black;
}
.cont-info div input{
    border: 2px solid #2950B8;
    height: 3vh;

}
.cont-info div:nth-child(1){
    display: flex;
    /* border: 2px solid red; */
    justify-content: left;    
    column-gap: 5px;
}
.cont-info div:nth-child(2){
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.cont-info div:nth-child(2) select{
    border: 2px solid #2950B8;
    height: 3vh;
    font-size: 20px;
}
.cont-info button{
    background-color: #2950B8;
    color: white;
    height: 40px;
    width: 100%;
    border: none;
    font-size: 20px;
    letter-spacing: 3px;
}
.cont-info button:hover{
    background-color: white;
    color: #2950B8;
    border: 2px solid #2950B8;
}
/* ############ Login page ################ */

.main-login div{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}
.main-login label{
    font-size: 50px;
    color: #2950B8;
}
.main-login button{
    background-color: #2950B8;
    color: white;
    height: 40px;
    width: 300px;
    border: none;
    font-size: 20px;
    letter-spacing: 3px;
}
.main-login button:hover{
    background-color: white;
    color: #2950B8;
    border: 2px solid #2950B8;
}