*{
    padding: 0;
    margin: 0;
}

:root{
    --defaultColor: darkorange;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
}

nav{
    height: 15vh;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > h1{
    width: fit-content;
    font-size: 36px;
    color: gray;
}

nav > ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

nav li{
    display: flex;
    width: fit-content;
}

nav a{
    border-radius: 5px;
    padding: 20%;
    color: dimgray;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

nav a:hover{
    color: white;
    background-color: var(--defaultColor);
}

main{
    display: flex;
    flex-direction: column;

}

main > section{
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

main > section > section{
    display: flex;
}

main > section > article:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    
}

main i{
    color: var(--defaultColor);
}

a{
    text-decoration: none;
}

h1{
    text-transform: uppercase;
}

h2{
    font-weight: 500;
    text-transform: uppercase;
    color: gray;
}

h3{
    color: gray;
}

h4{
    color: var(--defaultColor);
}

p{
    line-height: 1.5;
    font-size: 14px;
}

figcaption{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 10%;
}

div{
    width: 8vh;
    border-bottom: 5px solid var(--defaultColor);
}

form{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    color: darkgray;
}

aside{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 100%;
    font-size: 14px;
}

input, textarea{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1%;
    border: 1px solid lightgray;
}

textarea{
    resize: none;
    height: 35vh;
}

tr > td:last-child{
    padding: 5% 0% 5% 5%;

}

footer{
    height: 10vh;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    background-color: var(--defaultColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 600;
}

.top-header > article{
    padding-left: 10%;
    background-color: var(--defaultColor);
    height: 5vh;
    display: flex;
    column-gap: 40px;
    align-items: flex-end;
    padding-bottom: 1%;
}

.top-header > article > a{
    color: white;
    display: flex;
    column-gap: 15px;
    align-items: center;
}

.banner{
    display: flex;
    height: 60vh;
    width: 100%;
    background-image: url("../img/sunset.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner > article{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(50, 50, 50, .4);
}

.banner h1{
    font-size: 60px;
    word-spacing: 15px;
}

.banner p{
    padding-top: 1%;
    width: 55%;
    font-size: 20px;
    text-align: center;
}
/* Header End */

/* Service Start */
.services{
    justify-content: space-between;
    
}
.services > section{
    padding-top: 5%;
    column-gap: 40px;
}

.services blockquote{
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 5%;
}

.services h3{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.services i{
    font-size: 20px;
}

.services p{
    line-height: 2;
}
/* Service End */

/* Portflio Start */
.portfolio{
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(60, 60, 60);
}

.portfolio h2{
    color: whitesmoke;
}

.portfolio > article:last-child{
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
}

.portfolio img{
    width: 40vh;
    height: 25vh;
}
/* Portfolio End */

/* About US Start */
.about{
    padding-left: 10%;
    padding-right: 10%;
}
.skills{
    padding-top: 5%;
    column-gap: 30px;
}
.skills h3{
    padding-bottom: 3%;
}

.skills > article:first-child{
    width: 70%;
}

.skills > article:first-child > section{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.skills > article:last-child{
    width: 30%;
}
.skills > article:last-child > ul{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
}

.skills > article:last-child li{
    display: flex;
    width: 100%;
    height: 5vh;
    background-color: gainsboro;
}

.skills > article:last-child p{
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills li:nth-child(1) p{
    width: 90%;
    background-color: var(--defaultColor);
}

.skills li:nth-child(2) p{
    width: 75%;
    background-color: var(--defaultColor);
}

.skills li:nth-child(3) p{
    width: 85%;
    background-color: var(--defaultColor);
}

.skills li:nth-child(4) p{
    width: 95%;
    background-color: var(--defaultColor);
}

.gallery{
    padding-top: 10%;
    display: flex;
    justify-content: space-evenly;
    column-gap: 25px;
}

.gallery figure{
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;

}

.gallery figure:nth-child(2){
    height: fit-content
}

.gallery figure:nth-child(2) img{
    object-fit: cover;
    object-position: center;
    width: 55vh;
    height: 65vh;
}
.gallery img{
    object-fit: cover;
    object-position: center;
    width: 55vh;
    height: 80vh;
}



/* Contact start */
/* .contact > article{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
} */

.contact > section{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.contact > section > article:nth-child(1){
    width: 65%;
    /* display: flex;
    flex-direction: column;
    row-gap: 30px; */
}

.contact > section > article:nth-child(2){
    width: 35%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: darkgray;
}

.contact h3{
    padding-bottom: 5%;
}

[type=submit]{
    width: 20%;
    padding: 2%;
    background-color: var(--defaultColor);
    color: white;
    border: 1px solid var(--defaultColor);
    font-weight: 700;
    cursor: pointer;
    transition: .4s;
}

[type=submit]:hover{
    background-color: white;
    color: var(--defaultColor);
    border: 1px solid var(--defaultColor);
}
/* Contact End */

