*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgb(27, 27, 27);
}

header, main, nav, footer{
    background-color: white;
}

header{
    display: flex;
    flex-direction: column;
    height: 60vh;
}

nav{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15%;
}
main{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

footer{
    padding: 2%;
    color: rgb(0, 45, 90);
    font-weight: 600;
}

footer a{
    color: rgb(0, 45, 90);
    text-decoration: none;
}

footer a:hover{
    color: gray;
    text-decoration: underline;
}

video{
    padding-top: 1%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-bottom: 20px solid white;
}

h1{
    color: white;
    font-size: 40px;
}

nav ul{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

nav li{
    display: flex;
    width: 100%;
}

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: rgb(0, 45, 90);
    font-size: 20px;
    font-weight: 600;
}

nav a:hover{
    background-color: rgb(0, 45, 90);
    color: white;
}

.h-banner{
    position: relative;
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.h-banner section{
    /* border: 1px solid red; */
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 25;
    position: absolute;
}
.h-banner p{
    font-size: 18px;
    color: white;
}

.h-banner a{
    font-size: 18px;
    padding: 2%;
    background-color: rgb(244,243,242);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px lightgray;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(0, 45, 90);

}
.h-banner a:hover
{
    color: white;
    background-color: rgb(0, 45, 90);
    box-shadow: 2px 2px 5px rgb(0, 70, 140);
}

.m-top{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(27, 27, 27);;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5% 10% 5% 10%;

}

.m-top h2{
    color: white;
    font-size: 40px;
    padding-bottom: 5%;
}
.m-top > article{
    
    width: 70%;
    height: 50%;
    display: flex;

    column-gap: 30px;
}

.m-top figure{
    padding: 5%;
    display: flex;
    align-items: center;
    width: 50%;
    border: 3px solid white;
    background-color: rgb(244,243,242);
}

.m-top figure:hover{
    border: 3px solid black;
}


.m-top img{
    /* border: 1px solid red; */
    object-fit: cover;
    object-position: center;
    width: 120px;
    height: 120px;
}

.m-top a{
    padding: 5%;
    font-size: 25px;
    font-weight: 600;
    color: rgb(0, 45, 90);
    text-decoration: none;
}

.m-top a:hover{
    color: gray;
    text-decoration: underline;
}

.m-bottom{
    display: flex;
    column-gap: 40px;
    background-image: url("../img/main-bot.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 10% 5% 10%;
}

.m-bottom h2{
    color: white;
    font-size: 30px;
}

.m-bottom img{
    width: 300px;
    height: 170px;
}

.m-bottom span, .m-bottom p{    
    color: rgb(0, 45, 90);
}


.m-bottom span{
    font-size: 30px;
    font-weight: 600;
}

.m-bottom p{
    font-size: 18px;
}

.m-bottom aside:nth-child(1){
    background-image: url("../img/tire.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 40px;
    font-weight: 600;
    color: white;
    opacity: 0.9;
}

.m-bottom aside:nth-child(2){
    background-image: url("../img/caracc.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.m-bottom aside:nth-child(3){
    background-image: url("../img/finance.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}


.m-bottom > article:nth-child(1){
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    /* border: 1px solid red; */
    width: 50%;
}

.m-bottom > article:nth-child(1) section{
    display: flex;
    background-color: rgb(244,243,242);
    padding: 2%;
    /* border: 1px solid red; */
}

.m-bottom > article:nth-child(1) div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    padding-left: 5%;
}

.m-bottom > article:nth-child(2){
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.m-bottom > article:nth-child(2) > section{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.m-bottom > article:nth-child(2) aside{
    width: 100%;
    height: 20vh;
    border-radius: 5px;
    /* border: 1px solid red; */
}

.m-bottom > article:nth-child(2) section{
    display: flex;
    /* border: 1px solid red; */

}

.m-bottom > article:nth-child(2) p{
    color: rgb(0, 45, 90);
    background-color: rgb(244,243,242);
    font-weight: 600;
    width: 100%;
    padding: 1%;
    text-align: right;
}


/* ###### About Start ###### */



.ab-banner{
    position: relative;
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ab-banner figure{
    width: 100%;
    height: 100%;
    background-image: url("../img/models-pic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ab-banner section{
    /* border: 1px solid red; */
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 25;
    position: absolute;
}

.ab-banner p{
    font-size: 18px;
    color: white;
}

.ab-banner a{
    font-size: 18px;
    padding: 2%;
    background-color: rgb(244,243,242);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px lightgray;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(0, 45, 90);

}
.ab-banner a:hover
{
    color: white;
    background-color: rgb(0, 45, 90);
    box-shadow: 2px 2px 5px rgb(0, 70, 140);
}

.ab-main{
    padding: 5% 10% 5% 10%;
    display: flex;
    row-gap: 50px;
}

.ab-main h2{
    color: rgb(0, 45, 90);
}

.ab-main p{
    color: rgb(0, 70, 140);
}

.ab-main > article{
    display: flex;
    column-gap: 20px;
}


.ab-main > article:nth-child(1) aside{
    background-image: url("../img/about.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
    
}

.ab-main > article:nth-child(2) aside{
    background-image: url("../img/business.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
}

.ab-main > article:nth-child(3) aside{
    background-image: url("../img/history.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
}


.ab-main > article section{
    padding: 2%;
    display: flex;
    width: 80%;
    flex-direction: column;
    row-gap: 20px;
    border: 4px solid rgb(0, 70, 140);
    border-radius: 15px;
}

.ab-footer{
    color: white;
    background-color: rgb(0, 45, 90);
}

.ab-footer a{
    color: white;
    text-decoration: none;
}

.ab-footer a:hover{
    color: gainsboro;
    text-decoration: underline;
}
/* ###### About End ###### */



/* ###### Models Start ###### */

caption{
    padding: 1%;
    color: rgb(0, 45, 90);
    font-weight: 600;
}

.mo-main{
    padding: 10%;
    display: flex;
    align-items: center;
}

.mo-main h2{
    color: rgb(0, 45, 90);
    font-size: 30px;
}

.mo-main table{
    width: 70%;
}

.mo-main thead{
    background-color: rgb(0, 45, 90);
    color: white;
}

.mo-main th, .mo-main td{
    padding: 1%;
    text-align: center;
    border: 1px solid black;
}

.mo-main tr:nth-child(even){
    background-color: rgb(244,243,242);
}

.mo-main tfoot{
    background-color: rgb(0, 70, 140);
    color: white;
}

.mo-main input{
    color: white;
    font-size: 18px;
    padding: 25%;
    background-color: rgb(0, 45, 90);
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
}

.mo-main input:hover
{
    color: rgb(0, 45, 90);
    background-color: rgb(244,243,242);
    box-shadow: 2px 2px 5px gainsboro;
}

.mo-banner h1{
    color: white;
}

.mo-banner h2{
    color: white;
}

.mo-banner{
    position: relative;
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mo-banner figure{
    width: 80%;
    height: 100%;
    background-color: rgb(0, 45, 90);
}

.mo-banner section{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    padding-left: 25;
    position: absolute;
}

.mo-banner p{
    font-size: 18px;
    color: white;
}

.mo-footer{
    color: white;
    background-color: rgb(0, 45, 90);
}

.mo-footer a{
    color: white;
    text-decoration: none;
}

.mo-footer a:hover{
    color: gainsboro;
    text-decoration: underline;
}
/* ###### Models End ###### */



/* ###### Contact Start ###### */

.ct-main > h1{
    padding-top: 5%;
    padding-bottom: 1%;
    text-align: center;
    color: rgb(0, 70, 140);
    letter-spacing: 10px;
}

.ct-main > article{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}

.ct-banner h1{
    color: rgb(0, 70, 140);
}

.ct-banner{
    position: relative;
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ct-banner figure{
    width: 80%;
    height: 100%;
    background-color: white;
    border: 2px solid rgb(0, 45, 90);
}

.ct-banner section{
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 25;
    position: absolute;
}

.ct-banner p{
    font-size: 18px;
    color: rgb(0, 45, 90);
}

.ct-info{
    width: 65%;
    border: 4px solid rgb(0, 45, 90);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(0, 70, 140);
    padding: 2% 5% 2% 5%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.ct-info > div:nth-child(4){
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.ct-info > div:nth-child(4) > label{
    padding-left: 3%;
    padding-bottom: 1%;
    color: rgb(0, 70, 140);
    font-size: 22px;
    font-weight: 300;
}

.ct-info > div:nth-child(4) textarea{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    resize: none;
    height: 15vh;
    font-size: 18px;
    padding: 2%;
    border: 2px solid lightgray;

}

.ct-info fieldset{
    padding: 2%;
    border: 2px solid lightgray;
}

.ct-info legend{
    padding: 0% 1% 1% 1%;
    color: rgb(0, 70, 140);
    font-size: 22px;
    font-weight: 300;
    
}

.ct-info label{
    padding-top: 1%;
    color: rgb(27, 27, 27);
}

.ct-info select,
.ci-top input, .ci-middle input{
    width: 30vh;
    height: 3vh;
    font-size: 14px;
    padding-left: 1%;
    padding-right: 1%;
}

.ci-top, .ci-middle{
    display: flex;
    column-gap: 20px;
    justify-content: space-evenly;
}

.ci-top div, .ci-middle div{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.ci-bottom{
    display: flex;
    flex-direction: column;
}

.ci-bottom table{
    height: 15vh;
}

.ci-bottom td{
    border-bottom: 1px solid rgb(0, 45, 90);
    font-size: 18px;
    text-align: center;
}

.ct-footer{
    color: white;
    background-color: rgb(0, 45, 90);
}

.ct-footer a{
    color: white;
    text-decoration: none;
}

.ct-footer a:hover{
    color: gainsboro;
    text-decoration: underline;
}

[type=submit],
[type=reset]{
    width: 200px;
    height: 40px;
    background-color: rgb(0, 45, 90);
    color: white;
    border: 2px solid white;
    transition: .5s;
    
}

[type=submit]:hover,
[type=reset]:hover{
    background-color: white;
    color: rgb(0, 45, 90);
    border: 2px solid rgb(0, 45, 90);
    cursor: pointer;
}

/* ###### Contact End ###### */