@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css");
* {
  margin: 0 !important;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body, main {
  display: flex;
  flex-direction: column;
}

main {
  padding-left: 5%;
  padding-right: 5%;
}
main > section {
  padding-top: 10%;
  padding-bottom: 10%;
}
main img {
  width: 100%;
}

@media (min-width: 300px) {
  header {
    height: 75vh;
    background-image: url("../../img/banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  header > section {
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.4);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  header > section > article {
    padding: 5%;
  }
  header > section small {
    color: white;
    text-transform: capitalize;
  }
  header aside {
    width: 10vh;
    height: 10vh;
    background-image: url("../../img/square_icon.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  header h1 {
    color: white;
    text-transform: capitalize;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: right;
  }
  nav > ul {
    display: none;
  }
  details {
    width: 100%;
    text-align: right;
  }
  details > summary {
    color: white;
    font-size: 20px;
    padding: 5%;
  }
  details > ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(80, 80, 80, 0.5);
  }
  details li {
    width: 100%;
    display: flex;
    border-bottom: 1px solid white;
    padding: 2%;
    padding-right: 5%;
  }
  details a {
    width: 100%;
    text-align: right;
    color: white;
    text-decoration: none;
    font-weight: 300;
  }
  main .section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  main .section-title h2 {
    text-transform: capitalize;
    color: forestgreen;
  }
  main .section-title p {
    text-align: center;
    color: gray;
  }
  footer {
    padding: 5%;
    color: gray;
    text-align: center;
  }
  .about > section {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }
  .about > section figure {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  .about > section figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  .about > section h3 {
    text-transform: capitalize;
    color: darkturquoise;
    font-weight: 300;
    font-size: 24px;
  }
  .about > section small {
    color: deeppink;
    font-size: 14px;
  }
  .about > section p {
    color: gray;
    font-size: 14px;
  }
  .about > section aside {
    display: flex;
    -moz-column-gap: 15px;
         column-gap: 15px;
    padding: 3%;
  }
  .about > section a {
    color: gray;
    font-size: 16px;
    text-decoration: none;
    padding: 2%;
  }
  .about > section a:hover {
    background-color: hotpink;
    color: white;
  }
  .features > section {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }
  .features > section > aside {
    width: 100%;
    height: 30vh;
    background-image: url("../../img/feature-aside_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .f-top {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }
  .f-top div {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
  }
  .f-top i {
    font-size: 55px;
    color: gray;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .f-top p {
    color: gray;
    text-align: center;
  }
  .f-top aside {
    width: 45%;
    display: flex;
    justify-content: center;
  }
  .f-top input {
    padding: 5% 15%;
    color: white;
    border: 0px none transparent;
  }
  .f-top .btn-01 {
    background-color: rgba(80, 80, 80, 0.8);
  }
  .f-top .btn-01 input {
    width: 100%;
    background-color: rgba(65, 105, 225, 0.8);
  }
  .f-top .btn-02 {
    background-color: rgba(80, 80, 80, 0.8);
  }
  .f-top .btn-02 input {
    width: 100%;
    background-color: rgba(0, 128, 0, 0.8);
  }
  .f-top .btn-03 {
    background-color: rgba(80, 80, 80, 0.8);
  }
  .f-top .btn-03 input {
    width: 100%;
    background-color: rgba(178, 34, 34, 0.8);
  }
  .f-bottom {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .f-bottom aside:first-child {
    width: 100%;
    height: 30vh;
    background-image: url("../../img/feature-aside_2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .f-bottom aside:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .f-bottom aside:last-child h3 {
    color: teal;
    font-weight: 300;
  }
  .f-bottom aside:last-child p {
    color: gray;
  }
  .menu > section {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .menu > section > aside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 10px;
  }
  .menu > section input {
    width: 40%;
    padding: 2%;
    color: forestgreen;
    border: 1px solid forestgreen;
    background-color: white;
  }
  .menu > section input:hover {
    background-color: forestgreen;
    border: 1px solid white;
    color: white;
  }
  .m-top {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
  }
  .m-top figure {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .m-top figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .m-top figcaption h3 {
    color: teal;
    text-transform: capitalize;
    font-size: 24px;
  }
  .m-top figcaption small {
    color: gray;
    font-size: 16px;
  }
  .m-top figcaption span {
    font-size: 20px;
    color: darkcyan;
  }
  .m-bottom {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .m-bottom aside:first-child {
    width: 100%;
    height: 30vh;
    background-image: url("../../img/menu-bottom-avocado.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .m-bottom aside:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .m-bottom aside:last-child h3 {
    color: teal;
  }
  .m-bottom aside:last-child p:last-child {
    width: 100%;
    display: flex;
    justify-content: right;
  }
  .m-bottom aside:last-child input {
    background-color: white;
    border: 1px solid lightgray;
    color: gray;
    font-weight: 600;
  }
  .m-bottom aside:last-child input:hover {
    background-color: lightgray;
    border: 1px solid lightgray;
    color: white;
    font-weight: 600;
  }
  .contact > section {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .contact form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .contact form input, .contact form textarea {
    padding: 2%;
    border: none;
    border-bottom: 1px solid gray;
  }
  .contact form textarea {
    resize: none;
    height: 25vh;
  }
  .contact form [value=Send] {
    width: 30%;
    color: white;
    background-color: forestgreen;
    border: 1px solid forestgreen;
    font-weight: 600;
  }
  .contact form [value=Send]:hover {
    color: forestgreen;
    border: 1px solid forestgreen;
    background-color: white;
    font-weight: 600;
  }
  .contact div {
    width: 100%;
    display: flex;
    justify-content: right;
  }
  .c-addr {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .c-addr h3 {
    color: teal;
  }
  .c-addr address {
    font-size: 16px;
    color: gray;
  }
  .c-addr ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .c-addr ul li {
    display: flex;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .c-addr ul a {
    text-decoration: none;
    color: gray;
  }
  .c-addr i {
    color: forestgreen;
  }
  .faq > section > article {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .faq button {
    color: gray;
    border: 1px solid lightgray;
  }
  .faq .accordion {
    --bs-accordion-btn-icon-transform: rotate(90deg) !important;
  }
}/*# sourceMappingURL=style.css.map */