@import url("http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif");

$font-family_B: 'Bree Serif', 'Helvetica', sans-serif;
$font-family_M: 'Merriweather', 'Helvetica', sans-serif;


$wh_Color: #EEE8D6;
$db_Color: #022933;
$y_Color: #FFBA00;
$b_Color: #0076A3;
$g_Color: #548C27;
$dy_Color: #F39856;
$r_Color: #D14348;
$p_Color: #6D73C2;